body{
    font-family: 'Yu MIncho LIght',sans-serif;
    font-weight: 400; 
}

/*ナビバー*/
header{
    height: 800px;
    background-image: url("images/main.png");
    background-size: contain;
    position: relative;
}
.nav_wrapper{
    z-index: 1;
}
.header_logo{
width:138.57px; 
height:60px;
}
.header_button{
    border: none;
}
.header_list{
    margin-right: 100px;
}
.header_title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%); 
}

/*お知らせ欄*/
.news_list{
    border-bottom: solid 1px black;
    padding-bottom: 15px;
}
.news_list_wrapper span{
    margin:0 20px ;
}

/*施工事例*/
.sekoujirei{
    padding-top: 100px;
}
.column_2 .col-md-6{
    padding: 0 70px;
}
.jyuusyo{
    border-bottom: solid 1px black;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.syousai{
    border-bottom: solid 1px black;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.sekoujireiitiran{
    margin-top: 25px;
}

/*理念、採用、お問い合わせ*/
.img3{
    margin-top: 170px;
    margin-right: calc(50% - 50vw);
	margin-left: calc(50% - 50vw);
}
.img3 .col-md-4{
    padding: 0 0;
}
.img3 img{
	display: block;
	height: auto;
}
.img3 img:hover{
    cursor: pointer;
    opacity: 0.5;
    transition: 0.5s;
}

/*フッター*/
footer{
    height: 156px;
    background-color: black;
}
.footer_list{
    margin-left: 25px;
    margin-right: 25px;
    color: white;
    font-size: 20px;
}
.footer_list:hover{
    opacity: 0.5;
    color: white;
}
.footer_list_wrapper{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%); 
    width: 1100px;
    position: relative;
}
.footer_logo {
    position: absolute;
    top: 38%;
    left: 10%;
    transform: translateY(-50%) translateX(-50%); 
    float: left;
    width: 92.8px;
    height: 38.8px;
}
.footer_logo:hover{
    opacity: 0.5;
}
footer{
    position: relative;
}
.copyright{
    font-size: 12px;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%); 
}


/*--モバイル版--*/
@media (max-width: 600px) {
    header{
        height: 320px;
        background-image: url("images/main.png");
        background-size: contain;
        position: relative;
    }
    .header_title{
        font-family: 'Yu MIncho LIght',sans-serif;
        font-weight: 400;
        font-size: medium; 
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%); 
    }
    .header_logo{
        width:60px; 
        height:25.98px;
        }

/*お知らせ欄*/
    .news_list_wrapper{
        text-align: center;
    }
    .news_list{
        border-bottom: solid 1px black;
        padding-bottom: 10px;
    }
    .news_list{
        position: relative;
    }
    .brbr{
        width: 400px;
        position: absolute;
        top: 80%;
        transform: translateY(-50%) translateX(-50%); 
    }
    /*施工事例*/
    .sekoujireiitiran{
        margin-top: 10px;
    }

/*理念、採用、お問い合わせ*/
    .img3 img {
        height: 100%;
    }

    /*フッター*/
    footer{
        height: 340px;
    }
    .footer_list_wrapper{
        width: auto;
         position: relative;
    }
    .footer_list{
        margin:15px 0;
        font-size: 16px;
        text-align: center;
    }
    .footer_logo {
        position: absolute;
        top:80%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%); 
        float: left;
        width: 92.8px;
        height: 38.8px;
    }
    .copyright{
        font-size: 12px;
        position: absolute;
        top: 95%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%); 
    }
    
}
