/*ナビバー*/
.nav_logo{
    margin-left: 30px;
    margin-top: 14px;
}
.nav_wrapper{
    height: 75px;
}
.nav_comment{
    position: absolute;
    top: 34px;
    left: 170px;
    font-weight: 800;
}
.nav_wrapper{
    position: relative;
}
.contact_wrapper_pc{
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    background-color: #DA6B64;
    border-radius: 22px;
    height: 44px;
    width: 313px;
    position: relative;
    float: right;
}
.contact_pc{
    line-height: 22.4px;
    letter-spacing: 1.5px;
    text-align: center;
    position: absolute;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.contact_logo_sp{display: none;}
.contact_sp{display: none;}
.main{
    background-image: url("images/main.jpg");
    background-position: center;
    height: 500px;
    background-size: cover;
    position: relative;
}
.main_logo{
    height: 111px;
    width: 317px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.main_comment1{
    text-align: center;
    line-height: 44.8px;
    letter-spacing: 1.5px;
    font-size: 28px;
    font-weight: 600;
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.main_comment2{
    text-align: center;
    line-height: 44.8px;
    letter-spacing: 1.5px;
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
/*ページトップボタン*/
#page-top {
    position: fixed;
    bottom: 90px;
    right: 50px;
    font-size: 14px;
    line-height: 1;
    z-index: 99;
  }
  #page-top a {
    background-color:#ececec;
    text-decoration: none;
    color: #333;
    font-weight: 600;
    width: 70px;
    padding: 28px 5px;
    text-align: center;
    display: block;
    opacity: 0.9;
    transition: all .3s ease;
  }
  #page-top a:hover {
    text-decoration: none;
    opacity: .5;
  }
@media (max-width: 768px) {
.nav_wrapper{
    height: 62px;
    position: relative;
}
.nav_logo{
    width: 90px;
    height: 31.9px;
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
    position: relative;
}
.nav_comment{
    position: absolute;
    top: 50%;
    left: 7%;
    transform: translateY(-150%);
    font-size: 10px;
}
.contact_wrapper_pc{display: none;}
.contact_wrapper_sp{
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    height: 62px;
    width: 80px;
    text-align: center;
    background-color: #DA6B64;
    float: right;
    position: relative;
}
.contact_logo_sp{
    display: block;
    width: 20px;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
}
.contact_sp{
    display: block;
    width: 70px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
}
.main{
    background-image: url("images/mainsp.jpg");
    height: 312px;
    position: relative;
}
.main_comment1{
    font-size: 18px;
    width: 300px;
    line-height: normal;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.main_comment2{
    font-size: 15px;
    width: 300px;
    line-height: normal;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
#page-top {
    position: fixed;
    bottom: 20px;
    right: 10px;
    line-height: 1;
    z-index: 99;
}
#page-top a {
    width: 40px;
    padding: 15px 5px;
  }
}

/*コンテンツ1*/
.content1{
    background-color: #EBB94D;
    height: 602px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}
.content1 code{
    font-size: 18px;
    font-weight: 600;
    line-height: 28.8px;
    letter-spacing: 1.5px;
    color: #C7254E;
    background-color: #F9F2F4;
    border-radius: 4px;
    padding: 2px 4px;
    margin-left: auto;
    margin-right: auto;
}
.content1_contact_wrapper{
    background-color: #DA6B64;
    border-radius: 52px;
    height: 104px;
    width: 1028px;
    margin-top: 40px;
    margin-bottom: 70px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.content1_contact_wrapper:hover{
    background-color:rgb(214, 42, 42);
    cursor: pointer;
}
.content1_contact{
    font-size: 28px;
    letter-spacing: 1.5px;
    line-height: 44.8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translateX(-50%) translateY(-50%);
}
.content1_news{
    font-size: 150%;
}
@media (max-width: 768px) {
    .content1{
        height: 530px;
        font-size: 14px;
    }
    .content1 code{
        font-size: 14px;
        font-weight: 600;
        line-height: 21.6px;
        letter-spacing: 1.5px;
    }
    .content1_contact_wrapper{
        border-radius: 47px;
        height: 94px;
        width: 360px;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
    }
    .content1_contact{
        font-size: 19px;
        letter-spacing: 0;
        width: 300px;
        line-height: 32px;
        position: absolute;
        }
    .content1_news{
        line-height: 24px;
        font-size: 14px;
    }
}

    